@import "tailwindcss";

@theme {
    /* --property-number: - "number" represents the pixels ex. --text-128: -> 128 pixels*/

    /* FONTS */
    --font-pixels: var(--font-pixels);
    --font-mono: var(--font-mono);

    /* COLORS */
    --color-base-50:  oklch(0.985 0.008 142.4);
    --color-base-100: oklch(0.970 0.015 142.4);
    --color-base-200: oklch(0.935 0.030 142.4);
    --color-base-300: oklch(0.885 0.055 142.4);
    --color-base-400: oklch(0.805 0.085 142.4);
    --color-base-500: oklch(0.720 0.110 142.4);
    --color-base-600: oklch(0.620 0.100 142.4);
    --color-base-700: oklch(0.510 0.080 142.4);
    --color-base-800: oklch(0.410 0.060 142.4);
    --color-base-900: oklch(0.300 0.040 142.4);
    --color-base-950: oklch(0.220 0.025 142.4);

    /* TEXT SIZES */
    --text-216: 13.5rem;
    --text-128: 8rem;
    --text-96: 6rem;
    --text-80: 5rem;
    --text-64: 4rem;
    --text-48: 3rem;
    --text-40: 2.5rem;
    --text-32: 2rem;
    --text-24: 1.5rem;
    --text-20: 1.25rem;
    --text-16: 1rem;
    --text-14: 0.875rem;
    --text-12: 0.75rem;

     /* SPACING */
    --spacing-224: 14rem;
    --spacing-144: 9rem;
    --spacing-128: 8rem;
    --spacing-104: 6.5rem;
    --spacing-96: 6rem;
    --spacing-88: 5.5rem;
    --spacing-80: 5rem;
    --spacing-72: 4.5rem;
    --spacing-64: 4rem;
    --spacing-56: 3.5rem;
    --spacing-48: 3rem;
    --spacing-40: 2.5rem;
    --spacing-32: 2rem;
    --spacing-24: 1.5rem;
    --spacing-16: 1rem;
    --spacing-8: 0.5rem;
    --spacing-4: 0.25rem;

    /* DROP SHADOW */
    --drop-shadow-md: 0 0px 5px oklch(0.330 0.176 132.8); 

    /* BREAKPOINTS */
    --breakpoint-xsm: 320px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1440px;
}
