---
// components
import Section from "../elements/Section.astro";
import Text from "../elements/Text.astro";
---

<Section 
    aria-label="Introduction"
    title="Introduction"
    titleHeading="Hey there!"
>
<Text variant={'normal'} class="text-base-400">Hi, I’m Salah Dabbech, a software engineer focused on building reliable, scalable systems that make complex things feel simple. I enjoy working full-stack across areas from native mobile developpement, to building scalable distributed systems, and setting up infrastructure and devOps piplines and integrations , with a strong emphasis on testing, observability, and clear documentation to improve both speed and confidence in what I ship.</Text>
</Section>
